body {
  font-family: sans-serif;
  background-color: #ffffb3;
}

header {
  background-color: #00af91;
  border-radius: 20px;
  position: relative;
  font-weight: 600;
  text-align: center;
  width: 100;
  margin-top: 0px;
}

h1 {
  text-align: center;
  color: gold;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
}
h2 {
  text-align: center;
  color: #007965;
  padding-top: 0px;
  margin-top: 0px;
}

article {
  background-color: #f58634;
  border-radius: 20px;
  height: 350px;
}

img {
  display: block;
  margin-left: 20px;
  margin-right: 10px;
  width: 8%;
}
p {
  font-size: 18px;
}
.moviepic {
  float: left;
}
.opinion {
  float: right;
  display: block;
  margin-left: 20px;
  margin-right: 10px;
  resize: none;
  height: 240px;
  background-color: #00af91;
  border-radius: 10px;
}
.ibutton {
  float: right;
  display: block;
  margin-left: 20px;
  margin-right: -78px;
  margin-top: 250px;
  background-color: #00af91;
  border-radius: 10px;
}

.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
  border-radius: 20px;
}

article {
  border: 2px solid white;
  border-radius: 20px;
}

.copyright {
  text-align: center;
}
#linkschiwago {
  margin-left: 170px;
}
textarea::placeholder {
  color: white;
}
