body {
  font-family: sans-serif;
  background-color: #ffcc29;
}

header {
  background-color: #00af91;
  border-radius: 20px;
  position: relative;
  font-weight: 600;
  text-align: center;
  width: 100;
  margin-top: 0px;
}

h1 {
  text-align: center;
  color: gold;
  margin-top: 0px;
  padding: 5px;
}
h2 {
  text-align: center;
  color: #007965;
  padding-top: 0px;
}
.north {
}
nav a {
  background: #cf4c0a;
  border: 1px solid black;
  border-radius: 20px;
  color: #fff;
  display: inline-block;
  margin: 0px 10px;
  padding: 5px;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  background: #fff;
  border: 2px solid #cf4c0a;
  color: #cf4c0a;
  animation: ease;
}
article {
  background-color: #f58634;
  border-radius: 20px;
  height: 300px;
}

img {
  display: block;
  margin-left: 20px;
  margin-right: 10px;
  width: 10%;
}
.moviepic {
  float: left;
}
.opinion {
  float: right;
  display: block;
  margin-left: 20px;
  margin-right: 10px;
}
.ibutton {
  float: right;
  display: block;
  margin-left: 20px;
  margin-right: -80px;
  margin-top: 120px;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
